<%- include('header'); -%>
<%- include('navbar'); -%>

<h1>
    For Signup, Enter Page Details
</h1> 

<form action="/signup" method="post">
    Enter Name:<br>
    <input type="text" name="name" 
    <% 
        if(error=="User Already Exists"){ 
    %>
    class="is-invalid" aria-describedby="validation03Feedback"
    <%}%>
    id="name">
    <% 
        if(error=="User Already Exists"){ 
    %>
    <div id="validation03Feedback" class="invalid-feedback">
        User Already Exists.
      </div>
    <%}%>
    <br>
    Enter Email:<br>
    <input type="email" name="emailId" id="emailId">
    <br>
    Enter Password:<br>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="Sign Up">
</form>


<%- include('partials/footer'); -%>